body {
    padding:0;
    margin:0;
    width:100vw;
    height:100vh;
    background: url(../img/link.svg) repeat top left;
    color: red;
  }
  #lmain{display:flex;}
  #lmain_left{width:20vw;height:100vh;background-color: #00125a;}
  #lmain_right{width:80vw;height:100vh}